body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #F5F5F5;
}


h3 {
    font-size: 48px;
    font-weight: 700px;
    line-height: 57.6px;
}

h4 {
    font-size: 32px;
    line-height: 38.4px;
    font-weight: 500px;
}

.aboutme p {
    font-size: 20px;
    line-height: 30px;
    font-weight: 300px;
}

/* navbar */
.navbar {
    z-index: 9999;
}


.navbar-brand {
    font-size: 30px;
    line-height: 33.6px;
}

/* header */
.arrowup {
    background-color: #0078FF;
    right: 20px;
    bottom: 20px;
    width: 40px;
    height: 40px;
    font-size: 20px;
    z-index: 123;
}

.header h1 {
    font-size: 72px;
}

.header {
    background-image: url(../images/hero-bg.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}

/* about */
.headlayer {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    font-size: 35px;
    font-weight: 600px;
    line-height: 86.4px;
}

.about h4::after {
    content: '';
    width: 100px;
    height: 2px;
    position: absolute;
    top: 45px;
    left: 10px;
    background-color: #0078FF;
}

/* services */

.serviceinfo p {
    padding-bottom: 30px;

}

.service h5 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 22.4px;
    line-height: 26.88px;
    font-weight: 500px;
}

.serviceinfo p::after {
    content: '';
    width: 50px;
    height: 5px;
    position: absolute;
    top: 60%;
    left: 47%;
    background-color: #0078FF;
}

.circle {
    color: #0078FF;
    transition: all .2s;

}

.case {
    color: #CDE1F8;
    transition: all .2s;
}

.servicecontent:hover .case {
    color: #0078FF;
}

.servicecontent:hover .fa-circle {
    color: #CDE1F8;

}

/* backimagesection */

.bgimg {
    background-image: url(../images/counters-bg.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 50%;
}

.layer {
    background-color: rgb(0, 120, 255, .8);
    width: 100%;
    height: 100%;
}

.bicheck {
    left: 38%;
    top: 30%;
    font-size: 30px;
}

.usericon {
    left: 38%;
    top: 33%;
    font-size: 25px;
}

/* portfolio */

.portfoliocontent:hover img {
    transform: scale(1.12, 1.12);
}

.bluecolor {
    color: #0078FF;
    font-size: 12.8px;
    line-height: 19.2px;
    font-weight: 400px;
}

.portfoliocontent img {
    transition: transform .6s;
}


.portfolio .underlinedp {
    position: relative;
    padding-bottom: 30px;
}

.portfolio .underlinedp::after {
    content: '';
    width: 40px;
    height: 5px;
    position: absolute;
    top: 60%;
    left: 48%;
    background-color: #0078FF;
}

.fa-square-plus {
    cursor: pointer;
    right: -15px;
}

/* carousel-section */
.card .container-fluid {
    background-color: rgb(0, 120, 255, 0.7);
    width: 100%;
    height: 100%;
}

.card {
    background-image: url(../images/overlay-bg.jpg);
    background-size: center;
    height: 75%;
    background-position: center center;
    background-attachment: fixed;

}

.carousel-indicators [data-bs-target] {
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.carousel-inner p {
    font-size: 25px;
    line-height: 30px;
    font-weight: 300;
}

.carousel-inner h3 {
    font-size: 22.4px;
    line-height: 33.6px;
    font-weight: 600;
}

#xavi-section {
    transform: translateY(30%);
}

/* blog */
.blog .underlinedpblog {
    padding-bottom: 30px;
}

.blog .underlinedpblog::after {
    content: '';
    width: 40px;
    height: 5px;
    position: absolute;
    top: 60%;
    left: 48%;
    background-color: #0078FF;
}

.blogitem {
    border: solid .5px;
}

.card-category {
    background-color: #0078FF;
    width: 90px;
    height: 30px;
    bottom: 34%;
    left: 37%;
    font-size: 14px;
    line-height: 13.44px;
    font-weight: 500px;
}

.blog {
    background-color: #F5F5F5;
}

.blog img,
.blog h5 {
    cursor: pointer;
}

.blog h5 {
    transition: color .5s;
    font-size: 20.8px;
    line-height: 24.96px;
    font-weight: 600px;
}

.blog h5:hover {
    color: #0078FF;
}

/* contact */
.contact .container-fluid {
    background-color: rgb(0, 120, 255, .7);
    width: 100%;
    height: 100%;
}

.contact {
    background-image: url(../images/overlay-bg.jpg);
    background-size: center center;
    height: 100%;
    width: 100%;
    background-position: center;
    background-attachment: fixed;
    overflow: hidden;

}

.contact .contacthunderlined {
    position: relative;
    padding-bottom: 30px;
}

.contact .contacthunderlined::after {
    content: '';
    width: 100px;
    height: 3px;
    position: absolute;
    top: 50px;
    left: 0%;
    background-color: #0078FF;
}

.contact .touchhunderlined {
    position: relative;
    padding-bottom: 30px;
}

.contact .touchhunderlined::after {
    content: '';
    width: 100px;
    height: 3px;
    position: absolute;
    top: 50px;
    left: 0%;
    background-color: #0078FF;
}

.fa-location-dot,
.fa-mobile-screen-button,
.fa-envelope {
    color: #0078FF;
}

.fa-twitter,
.fa-facebook,
.fa-instagram,
.fa-linkedin {
    font-size: 28px;
    cursor: pointer;
}

/* footer */
.footer {
    background-color: #0062D3;
    width: 100%;
}